*.log
.gradle/
.settings/
.project
.classpath
*.class
.DS_Store*
.idea/
*.iml
build/
notebooks/
output/
datasets/
datas/*
final_result.txt
benchmark/out/production/classes/META-INF/native-image/picocli-generated/corrsketches/benchmark/*
benchmark/out/test/resources/corrsketches/benchmark/TablesTest/*
test.py
*.csv
*.parquet
*.json
*.sst